# Ignore VS Code settings folder
.vscode/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment files
.env
*.env
local_server/yolov8n-face-lindevs.pt
serviceAccountKey.json
