# =========================
# Server Configuration
# =========================
PORT=8000
SECRET_KEY=<YOUR_JWT_SECRET_KEY>
JWT_ALGORITHM=HS256
JWT_EXP_HOURS=168

# =========================
# MongoDB Configuration
# =========================
MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.56qud0w.mongodb.net/
DB_NAME=centralized_server

# =========================
# AWS S3 Configuration
# =========================
AWS_ACCESS_KEY_ID=<YOUR_AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<YOUR_AWS_SECRET_ACCESS_KEY>
AWS_REGION=us-east-1
S3_BUCKET=s3-nok-bucket
